<section class="main">

    <div class="main__top-slider-box">
        <!--left-->
        <div class="main__left-slider-box">
            <div class="main__left-content">
                <div class="main__pages">
                    <span>1</span>
                    <span>4</span>
                </div>
                <div class="main__story-slider">
                <h2 class="main__thing">
                    Шикарные волосы – это то,
                    что&nbsp;заслуживает каждая женщина.
                    Я&nbsp;сделала это реальным
                </h2>
                <h2 class="main__thing">
                    Шикарные волосы – это то,
                    что&nbsp;заслуживает каждая женщина.
                    Я&nbsp;сделала это реальным
                </h2>
                <h2 class="main__thing">
                    Шикарные волосы – это то,
                    что&nbsp;заслуживает каждая женщина.
                    Я&nbsp;сделала это реальным
                </h2>
                </div>
                <div class="main__thing-bottom-line">
                    <img src="./img/text-bottom.png" alt="gold-line">
                </div>
                <button class="main__order-product">Заказать продукцию</button>
                <div class="main__slider-buttons  slider-arrows">
                    <div class="previous-arrow main__previous-arrow">
                        <img src="./img/slider-arrow.svg" alt="prev">
                    </div>
                    <div class="next-arrow main__next-arrow">
                        <img src="./img/slider-arrow.svg" alt="prev">
                    </div>
                </div>
            </div>
        </div>
        <!--right-->
        <div class="main__right-slider-box">
            <div class="main__image-slider">
                <div class="main__slide-image">
                    <img src="./img/header-slide1.jpg" alt="slide1">
                </div>
                <div class="main__slide-image">
                    <img src="./img/header-slide2.jpg" alt="slide2">
                </div>
                <div class="main__slide-image">
                    <img src="./img/header-slide3.jpg" alt="slide3">
                </div>
            </div>
        </div>
    </div>




</section>